// Pages/index.rhtml

slot! {
title: "Users",
description: "Manage all users",
footer: custom_footer()
}

#[webpage]
pub fn users(props: UsersProps) {
<div>
  <h1>Users</h1>
  <div r-for="user in props.data">
    <user_card user={user} />
  </div>
</div>
}

#[component]
fn custom_footer() {
<footer>Custom © 2024</footer>
}